* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100%;
}

header {
  background: black;
  padding:15px 10px;
}

.background-gray1 {
  background-color: #232323;
}

.background-red {
  background-color: #ff6666;
}

.font-color-red {
  color: #ff6666;
}

.container {
  -webkit-transition: all .4s ease;
  /* Safari */
  transition: all .4s ease;
}

.logo {
  display: inline-block;
  margin-left: 45%;
}

.logoMenu {
  margin: 30px;
}

.busca {
  display: inline-block;
  float: right;
}

.itens {
  list-style: none;
}

.itens li {

  -webkit-transition: all 1s ease;
  /* Safari */
  transition: all 1s ease;
}

.itens li:hover {
  background-color: #ff6766;
}

.itens li:hover a {
  color: black;
}

.itens li a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0;
  margin: 0 30px;
  border-bottom: 1px solid #ff6766;
  display:block;
}

.conteudo {
  border: 1px solid white;
  position: relative;
  z-index: 1;
}

.conteudo:hover .infos {
  opacity: 1;
}

.conteudo img {
  width: 100%;
  height: auto;
}

.infos {
  opacity: 0;
  z-index: 10;
  position: absolute;
  left: 0;
  margin-left: 0px;
  top: 0;
  margin-top: 0px;
  background-color: black;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all.4s ease;
  -webkit-transition: all .4s ease;
  cursor:pointer;
}

.infos p {
  padding: 20% 0 10% 0;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  opacity: 1;
}

.infos button {
  padding: 5px 20px;
  width: 200px;
  background-color: black;
  color: #ff6766;
  border: 1px solid #ff6766;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.span {
  font-weight: bold;
}

.news {
  margin: 2%;
  font-family: Arial, Helvetica, sans-serif;
}

.news h1 {
  margin-bottom: 15px;
}

.news h2 {
  font-size: 16px;
}

.data {
  font-style: italic;
  margin: 0 0 5px 0;
}

.titulo {
  margin: 0 0 20px 0;
}

.news button {
  padding: 5px 20px;
  width: 200px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0;
}

.botaoNews {
  text-align: center;
}

footer {
  background: black;
  padding:15px 10px;
}

.logoFooter {
  margin: 5px 20px;
}

.copyright {
  float: right;
  color: #8e8e8e;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 20px;
}

.search {
  position: fixed;
  width: 75%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
  padding: 0.5%;
  left:125%;
  top:78px;
  -webkit-transition: all .4s ease;
  /* Safari */
  transition: all .4s ease;
}

.busca {
  opacity:.8;
}

body.search-open .busca {
  opacity:1;
}

.search button {
  width: 10%;
  height: 40px;
  background-color: #fe4e4e;
  border: 0;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.search input {
  width: 88%;
  height: 30px;
  padding: 20px;
  background-color: black;
  border: 0;
  color: white;
}

.clearfix {
  clear:both;
}

/* Por padrão o menu vem oculto */
nav.menu-bar {
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    -webkit-transition: all 1s ease;
    /* Safari */
    transition: all 0.4s ease;
    transform: translateX(-250px);
}

body.menu-open nav.menu-bar {
  transform: translateX(0);
}
body.menu-open header {
}

body.menu-open nav.menu-bar {
    display:block;
}

body.menu-open .container {
    transform: translateX(250px);
}

.headerDesk {
  display: none;
}

.sliderDesk {
  display: none;
}

.icons-bottom {
  display:none;
}

.logo-footer  {
  display: none;
}

@media (min-width : 1024px){
  nav.menu-bar {
      transform: translateX(0px);
      position: fixed;
      width: 25%;
      float: left;
      height:100%;
  }

  body.menu-open .container {
      transform: translateX(0px);
  }

  .container {
    width: 75%;
    float: right;
  }

  .headerDesk {
    display: block;
    margin: 10px 20px;
  }

  .headerMob {
    display: none;
  }

  header {
    border: 1px solid white;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0
  }

  .msglogo {
    color: white;
    display: inline-block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
  }

  .itens {
    margin-top: 80px;
  }

  .sliderDesk {
    display: block;
    border: 1px solid white;
    position: relative;
    z-index: 1;
  }

  .sliderDesk img {
    width: 100%;
    height: auto;
  }

  .arrowLeft {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    width:50%;
    height: 100%;
  }

  .arrowLeft:hover img {
    content: url('../screen2-desktop-assets/arrow_over.png');
  }

  .arrowLeft img {
    width:7%;
    height: 15%;
    display: block;
    position: relative;
    top: calc(50% - 33px);
    left: 5%;
  }

  .arrowRight {
    z-index: 10;
    position: absolute;
    right: 0;
    margin-left: 0px;
    top: 0;
    margin-top: 0px;
    width:50%;
    height: 100%;
  }

  .arrowRight:hover img {
    content: url('../screen2-desktop-assets/arrow_over.png');
  }

  .arrowRight img {
    width:7%;
    height: 15%;
    float: right;
    transform: rotate(180deg);
    display: block;
    position: relative;
    top: calc(50% - 33px);
    right: 5%;
  }

  .itensSlider {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 30px);
  }

  .itemSlider {
    width: 10px;
    height: 10px;
    background: rgba(255, 103, 102, 0.5);
    border-radius: 10px;
    display: inline-block;
    margin: 0 5px;
  }

  .itemSlider.active {
    background-color: #ff6766;
  }

  .conteudo {
    width: 50%;
    display: inline-block;
    float: left;
  }

  .news {
    width: 46%;
    float: right;
  }

  .buttons {
    width: 100%;
  }

  .buttonFooter {
    width: 50px;
    height: 50px;
  }

  .logoMenu {
    display:none;
  }

  section {
    margin-top:70px;
  }

  .conteudo {
    max-height:350px;
    overflow:hidden;
  }
  .icons-bottom {
    display:block;
    list-style: none;
    margin-top:50px;
    text-align:center;
    margin-bottom:50px;
  }
  .icons-bottom li {
    display:inline-block;
  }
  .icons-bottom li a {
    display:block;
    width: 150px;
    height: 150px;
    margin-right: 15px;
    background: #232323;
    border-radius: 150px;
    padding-top:50px;
    float:left;
    -webkit-transition: all .4s ease;
    /* Safari */
    transition: all .4s ease;
  }

  .icons-bottom li a:hover {
    background-color:#ff6766;
  }

  footer {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 40px 0 200px 0;
  }

  .logoFooter {
    float:left;
  }

  .brands-footer {
    text-align:center;
  }

  .brands-footer li {
      display:inline-block;
      margin: 0 15px;
  }

  body.search-open .search {
    left:25%;
  }
}
